table {
  color: #333;
  background-color: white;
  border: 1px solid black;
  border-collapse: collapse;
}

table thead th {
  color: black;
  background: darkgray;
}

table th,
table td {
  color: black;
  padding: 0.5em;
  border: 1px solid lightgray;
}
