* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5em;
}

table {
  align-self: center;
  color: #333;
  background-color: white;
  border: 1px solid black;

  border-collapse: collapse;
}

table thead th {
  color: black;
  background: darkgray;
}

table th,
table td {
  color: black;
  padding: 0.5em;
  border: 1px solid lightgray;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  background-color: lightblue;
}

.search {
  float: center;
}
.add-book {
  margin: 0;
}

.book-details {
  width: 250px;
  padding: 5px;

  padding: 1em;
  border: 1px solid lightgray;
  transition: opacity 0.5s;
  background-color: antiquewhite;
}

.book-details img {
  width: 70%;
  height: 70%;
  margin-inline-end: 0.5em;
}
.book-details button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
